@model List<Currency> 

<div>

    <a asp-controller="Currencies" asp-action="Create" class="btn btn-primary">
        Create
    </a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model)
            {
                <tr>
                    <td>
                        @currency.Id
                    </td>
                    <td>
                        @currency.Name
                    </td>
                    <td>
                        @currency.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>