@model Product
@*
    10rd qayln e Create view-n sarqele, vortex menq petq e dnenq bolor textbox-nere, voronc mijocov piti nor Product avelacvi.
    Ays view-i model-e Product e.
*@

<div>
    <!-- Bolor text box-ere piti partadir form element-i mej linen -->
    <!-- Aystex piti nshenq, te form-e submit aneluc controller-i vor action-e piti kanchi -->
    <form asp-controller="Products" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name">
                Name
            </label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description">
                Description
            </label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UnitOfMeasureId">
                Unit of Measure
            </label>
            <select asp-for="UnitOfMeasureId" class="form-control">
                <option value=""></option>

                @foreach (var uom in ViewBag.UnitOfMeasures as List<UnitOfMeasure>)
                {
                    <option value="@uom.Id">@uom.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="ProductTypeId">
                Product Type
                </label>
            <select asp-for="ProductTypeId" class="form-control">
                <option value=""></option>

                @foreach (var prdt in ViewBag.ProductTypes as List<ProductType>)
            {
                <option value="@prdt.Id">@prdt.Name</option>
            }
             </select>
            </div>
<div class="form-group">
    <label asp-for="Quantity">
        Quantity
    </label>
    <input asp-for="Quantity" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="UnitPrice">
        Unit Price
    </label>
    <input asp-for="UnitPrice" class="form-control" />
</div>

<div class="text-center">
    <button type="submit" class="btn btn-primary">
        Create
    </button>
</div>
  </form>
</div>