@model Product

<div>
  <form asp-controller="Products" asp-action="Edit">
    @* Mek ayl tarberak e ID-n type="hidden" input-i mej dnele. Ays tarberake harmaer e, erb ID-nere petq che user-nerin cuyc tal. *@
    @*<input asp-for="Id" type="hidden" />*@

    @* 
      Edit anelu jamanak shat karevor e ayd toxi ID-n voreve mi text form-i mej dnel.
      Hakarak depqum aranc ID-i edit anel chi stacvi mer controller-i action-i mej.  
    *@
    <div class="form-group">
      <label asp-for="Id">
        ID
      </label>
      @* Aystex mer ID text box-i vra petq e disabled attribute dnenq, vorovhetev toxi ID-n hnaravor che poxel *@
      <input asp-for="Id" class="form-control" disabled="disabled" />
    </div>

    <div class="form-group">
      <label asp-for="Name">
        Name
      </label>
      <input asp-for="Name" class="form-control" />
      <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label asp-for="Description">
        Description
      </label>
      <input asp-for="Description" class="form-control" />
      <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label asp-for="Quantity">
        Quantity
      </label>
      <input asp-for="Quantity" class="form-control" />
    </div>

    <div class="form-group">
      <label asp-for="UnitPrice">
        Unit Price
      </label>
      <input asp-for="UnitPrice" class="form-control" />
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">
        Update
      </button>
    </div>
  </form>
</div>