@model CreateProductColorVm

<div>
    <form asp-controller="ProductColors" asp-action="Create">
        <div class="form-group">
            <label asp-for="Product.Id">
                Product ID
            </label>
            <input asp-for="Product.Id" class="form-control" readonly="readonly" />
        </div>

        <div class="form-group">
            <label asp-for="Product.Name">
                Product Name
            </label>
            <input asp-for="Product.Name" class="form-control" readonly="readonly" />
        </div>

        <div class="form-group">
            <label asp-for="SelectedColorId">
                Color
            </label>
            <select asp-for="SelectedColorId" class="form-control">
                @foreach (var color in Model.Colors)
                {
                    <option value="@color.Id">
                        @color.Name
                    </option>
                }
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                Assign Color
            </button>
        </div>
    </form>
</div>
