@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p> Any questions? Just contact our professional workers.</p>
</div>

<h2 style=" text-align: center; margin: 60px 0 35px 0; ">
    Social Media
</h2>

<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-6">
            <div class="p-3 border bg-light">
                <h4>
                    Facebook
                </h4>
                <p>
                    If you're more of a Facebook fan, you can also find us on Facebook:
                    <ul>
                        .NET
                    </ul>
                    <ul>
                        .NET Foundation
                    </ul>
                    <ul>
                        ASP.NET (web dev)
                    </ul>
                    <ul>
                        Xamarin (mobile dev)
                    </ul>
                    <ul>
                        Entity Framework (data access)
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="p-3 bg-light">
                <h4>
                    Instagram
                </h4>
                <p>
                    Do you prefer instagram? No problem:
                    <ul>
                        .NET Core
                    </ul>
                    <ul>
                        .NET Framework
                    </ul>
                    <ul>
                        ASP.NET Core
                    </ul>
                    <ul>
                        ASP.NET 4.x
                    </ul>
                    <ul>
                        Xamarin
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-6" style="margin-top: 35px;">
            <div class="p-3 bg-light">
                <h4>
                    Twitter
                </h4>
                <p>
                    Follow us to keep in touch with the team and get updates on new features, releases, and more:
                    <ul>
                        .NET
                    </ul>
                    <ul>
                        .NET Foundation
                    </ul>
                    <ul>
                        ASP.NET (web dev)
                    </ul>
                    <ul>
                        Xamarin (mobile dev)
                    </ul>
                    <ul>
                        Entity Framework (data access)
                    </ul>
                    <ul>
                        F# programming language
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-6" style="margin-top: 35px;">
            <div class="p-3 bg-light">
                <h4>
                    YouTube
                </h4>
                <p>
                    Keep up to date with the latest happening across .NET on the following YouTube channels:
                    <ul>
                        .NET
                    </ul>
                    <ul>
                        .NET Foundation
                    </ul>
                    <ul>
                        Microsoft Developer
                    </ul>
                    <ul>
                        Xamarin (mobile dev)
                    </ul>
                    <ul style="margin-bottom: 56px;">
                        Visual Studio
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-6" style="margin-top: 35px;">
            <div class="p-3 bg-light">
                <h4>
                    GitHub
                </h4>
                <p>
                    The official home of .NET on GitHub. It's a great starting point to find many .NET open-source projects from Microsoft and the community:
                    <ul>
                        .NET
                    </ul>
                    <ul>
                        ASP.NET (web dev)
                    </ul>
                    <ul>
                        Xamarin (mobile dev)
                    </ul>
                    <ul style="margin-bottom: 56px;">
                        Entity Framework (data access)
                    </ul>
                </p>
            </div>
        </div>
        <div class="col-6" style="margin-top: 35px;">
            <div class="p-3 bg-light">
                <h4>
                    Shows and Podcast
                </h4>
                <p>
                    These shows and podcasts take a deeper look at APIs, tooling, and interesting projects being created in the .NET ecosystem.
                    <ul>
                        .On .NET show
                    </ul>
                    <ul>
                        The .NET Docs Show
                    </ul>
                    <ul>
                        The Xamarin Show (mobile dev)
                    </ul>
                    <ul>
                        The Xamarin Podcast (mobile dev)
                    </ul>
                    <ul>
                        The Cloud Native Show
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" width="50" style="position: absolute; top: 315px; left: 37px;" />

    <img src="https://images-eu.ssl-images-amazon.com/images/I/41WWWP87X6L.jpg" width="50" style="position: absolute; top: 315px; left: 603px;" />

    <img src="https://upload.wikimedia.org/wikipedia/de/thumb/9/9f/Twitter_bird_logo_2012.svg/323px-Twitter_bird_logo_2012.svg.png" width="53" style="position: absolute; top: 663px; left: 37px;" />

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQURIvj8KNi6lCRVrs_d2VBJLTmwk8DMOHWfQ&usqp=CAU" width="70" style="position: absolute; top: 648px; left: 590px;" />

    <img src="https://dotnet.microsoft.com/static/images/community/github.svg?v=z_hmg9JcZ5e6Q3jmy3858EUfWgovNwNGkoEjv9X1ODg" width="50" style="position: absolute; top: 1067px; left: 33px;" />

    <img src="https://dotnet.microsoft.com/static/images/community/ch9.png?v=yDIEpDi3NaMAz5pCSKGSKNWh4uaD-a5EdYbP4-cZgA8" width="50" style="position: absolute; top: 1055px; left: 605px;" />
</div>

<p style="margin-bottom: 100px;">  </p>
