@{
    ViewData["Title"] = "Privacy Policy";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Privacy and Policy is very important to us.</p>
</div>

<div style="text-align: center; margin-top: 75px;">
    <h5>
        What is Privacy and Policy?
    </h5>
    <p>
        A Privacy Policy is a statement or a legal document that states how a company or website collects, handles and processes data of its customers and visitors. It explicitly describes whether that information is kept confidential, or is shared with or sold to third parties.
    </p>
    <p>
        Personal information about an individual may include the following: Name, Address, Email, Phone number, Age, Sex, Marital status, Race, Nationality, Religious beliefs...
    </p>
    <p>
        For example, an excerpt from Pinterest's Privacy Policy agreement clearly describes the information Pinterest collects from its users as well as from any other source that users enable Pinterest to gather information from. The information that the user voluntarily gives includes names, photos, pins, likes, email address, and/or phone number etc., all of which is regarded as personal information.
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-5" style="margin-top: 95px;">
            <h5>
                Why Privacy and Policy is so important
            </h5>
            <p>
                Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon. Around the world, laws and regulations have been developed for the protection of data related to government, education, health, children, consumers, financial institutions, etc.
            </p>
        </div>
        <div class="col-7">
            <img src="https://dotnet.microsoft.com/static/images/illustrations/swimlane-aspnet-extends-dotnet.svg?v=EzjYc_kFDLJUTDQ_A6LtEZYIXidzdiSZZIKWULzWOdo" width="660" height="311" style="margin-top: 35px;">
        </div>
    </div>
</div>

<div class="container" style="background-color: #848484c4; margin-top: 100px;">
    <div class="row">
        <div class="col-9">
            <h3 style="text-align: center; margin: 60px 0px 25px 250px">
                Third Party Services
            </h3>
        </div>
        <div class="col-4">
            <p>
                In commerce, a "third-party source" means a supplier who is not directly controlled by either the seller (first party) nor the customer/buyer (second party) in a business transaction. The third party is considered independent from the other two, even if hired by them, because not all control is vested in that connection. There can be multiple third-party sources with respect to a given transaction, between the first and second parties. A second-party source would be under direct control of the second party in the transaction.
            </p>
        </div>
        <div class="col-6">
            <p>
                The term spread among other things through video and computer games (in this context rather third-party developer, English for "third-party developer"). In the video game industry, it is common for third-party companies to be allowed to sell products for the platforms (e.g. Playstation or Wii) of the so-called first-time manufacturers (see also Video Game Crash). While in the early days of video games the most important game titles came from the manufacturers of the platforms themselves, the importance of third-party manufacturers has steadily increased. Nowadays, the first manufacturers (currently only Sony, Nintendo and Microsoft) often fight for exclusive rights to certain game titles or series of the third-party manufacturers so that they appear exclusively on their respective consoles.
            </p>
        </div>
        <div class="col-2" style="padding-bottom: 25px;">
            In connection with payment transactions and the revised Payment Services Directive (PSD 2), third party providers (TPP) are understood to mean third party providers who receive access to customer accounts via programming interfaces (APIs).
        </div>
    </div>
</div>

<p style="margin-bottom: 125px;">  </p>
